.sidebar {
    background-color: #171717;
    color: #b4b4b4;
    height: 100vh;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
}

.sidebar.closed {
    transform: translateX(-100%);
}

button {
    background-color: #171717;
    color: white;
    border: none;
    border-radius: 14px;
    padding: 10px 15px;
    margin: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 600;
}

button img {
    padding: 5px;
}

button img:hover {
    cursor: pointer;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

.splitclose {
    padding: 5px;
}

.splitclose:hover {
    cursor: pointer;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

.NewChat {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 10px;
    margin-top: 20px;
    padding: 15px;
    border-radius: 14px;
    cursor: pointer;
}

.NewChat i {
    font-size: 20px;
}

.NewChat:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.chatP {
    margin: 0px 0px 0px 20px;
    font-size: 14px;
    color: #888;
    font-weight: 600;
}

.history {
    margin: 10px;
    padding: 0;
    height: 90%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.history::-webkit-scrollbar {
    background-color: #888;
    border-radius: 10px;
    background-clip: padding-box;
}

.history::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.history li {
    list-style-type: none;
    margin: 0px 0px 6px 6px;
    padding: 10px 12px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.history li p {
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80%;
}

.history li i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    cursor: pointer;
}

.history li i:hover {
    color: #fff;
}

.history li:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 14px;
}

.created-by {
    font-size: 15px;
    padding: 10px;
    color: #555;
    border-top: 1px solid #333;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    text-align: center;
    justify-content: center;

}
.created-by a {
    color: #888;
    text-decoration: none;
    font-weight: 600;
}
.created-by a:hover {
    text-decoration: underline;
    color: white;
}


.highlightChat {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 14px;
}

.sliderClose {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #171717;
    border-radius: 12px;
    padding: 10px;
    cursor: pointer;
}

.splitopen {
    color: white;
}
